body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 0;
	background: linear-gradient(135deg, rgb(255, 15, 120), rgb(255, 120, 10));
  margin: 0;
}

*, *+* {
	box-sizing: border-box;
}

h1 {
	color: #fff;
	/* background: linear-gradient(135deg, rgb(255, 15, 120), rgb(255, 120, 10)); */
	/* --highlight-background:linear-gradient(135deg, #b0d, #c1b); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
}
