.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-list {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

.App-control {
	width: 640px;
	margin-left:auto;
	margin-right:auto;
}

.Uploaders {
	width: 640px;
	margin-left:auto;
	margin-right:auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.Statline {
	display: flex;
	justify-content: space-around;
}

.Statline > div {
	margin: 5px;
}

.GridFour {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max-content max-content;
	gap: 20px;
}

.main-output {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;;
}

.remark {
	padding: 12px 24px;
	border-radius: 8px;
	margin: 10px 0;
	line-height: 16px;
	background-color: rgba(100, 100, 110, 0.066);
	border: 1px solid rgba(100, 100, 110, 0.099);
	color: #667;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
