body {
  margin: 0;
  font-family: Arial, system-ui;
  background: rgb(240, 242, 245);
  background-color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
