.lab-logo {
	position: fixed;
	top: 0;
	left: 0; right: 0;
	text-align: center;

	h1 {
		font-size: 24px;
		line-height: 24px;
		padding: 16px 24px;
		background-color: rgba(#16c,0.1);
		color: #000;
		margin: 0;
	}

	.dark & h1{
		background-color: rgba(#16c,0.5);
		color: #fff;
	}
}
