


.dButton {
	padding: 0.66em 1.33em;
	background-color: rgba(220,220,220,0.1);
	border: 1px solid rgba(180,180,180,0.2);
	color: #667;
	font-weight: 500;
	font-size: 15px;
	border-radius: 8px;
	transition: 0.25s all;
	cursor: pointer;
	margin: 0;

	&:hover {
		background-color: #fff;
		box-shadow: 1px 0 10px rgba(200,200,200,0.3)
	}
	&:active {
		background-color: transparent;
	}

	&.ghost {
		border: none;
		background-color: transparent;
	}
	&[disabled], &:disabled {
		color: #aaa;
		cursor: 'default '
	}
	&.primary {
		border-color: rgba(#4e8df5,0.2);
		background-color: #4e8df5;
		color: #fff
	}

	&.small {
		padding: 0.5em 1em
	}
	&.large {
		padding: 1.5em 2.5em
	}

	.dark & {
		background-color: #2a2a2a;
		border-color: rgba(80,80,80,0.3);
		color: #999;

		&:hover {
			color: #ccc;
			box-shadow: 1px 0 10px rgba(15,15,15,0.5),
				inset 1px 1px rgba(150,150,150,0.1)
		}
		&.ghost {
			background-color: transparent;
		}
		&:disabled {
			color: #555;
		}
		&.primary {
			border-color: rgba(#4e8df5,0.2);
			background-color: rgba(#4e8df5,0.2);
			color: #fff;
		}
	}


}


.emboss {
	box-shadow: inset -2px -2px 5px rgba(150,150,150,0.1),
					inset -2px -2px 3px rgba(100,100,100,0.1),
					-1px 2px 12px rgba(200,200,200,0.3),
					2px 2px 12px rgba(200,200,200,0.3);
}
